.buttonZap{
    width: 100%;
    height: 100px;
    background: linear-gradient(-1855deg, var(--Blue-Eliane), var(--Green-Eliane));
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h3{
        margin-top: 15px;
        color: var(--black);

        @media (min-width: 768px) {
            margin-top: 20px;
            font-weight: 600;
        }

        @media (min-width: 1024px) {
            margin-top: 20px;
            font-weight: 600;
        }
    }

    button{
        width: 150px;
        height: 27px;
        border: none;
        background: linear-gradient(-1855deg, var(--Brown-Eliane), var(--Yellow-Eliane));
        border-radius: 10px;
        font-size: 15px;
        font-weight: 500;

        @media (min-width: 425px) {
            width: 165px;
            height: 28px;
        }

        @media (min-width: 768px) {
            width: 180px;
            height: 30px;
            font-weight: 600;
        }

        @media (min-width: 768px) {
            width: 300px;
            height: 30px;
            font-weight: 600;
        }

        a{
            text-decoration: none;
            color: var(--black);
        }
    }
}