.descriptionCourse {
    margin-bottom: 15px;
  }
  
  .courseTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: linear-gradient(-1855deg, var(--Blue-Eliane), var(--Green-Eliane));
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  
    &:focus {
      outline: none;
    }
  }
  
  .iconOpen, .iconClosed {
    font-size: 14px;
  }
  
  .courseContent {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
  }
  