@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --Brown-Eliane: #AA7E32;
    --Yellow-Eliane: #EBC65E;
    --Green-Eliane: #196E67;
    --Blue-Eliane: #34E4D5;
    --BlueDark-Eliane: #07a093;
    --black: #252525;

    --Light-Cinzel: #eeeeee;
    --Dark-Cinzel: #dfdfdf;

    --font-cinzel: "Cinzel", sans-serif;
    --font-raleway:'Raleway', sans-serif;
}