section{
    background: linear-gradient(-1855deg, var(--Light-Cinzel), var(--Dark-Cinzel));
    height: 669px;

    @media (min-width: 375px) {
        height: 698px;
    }

    @media (min-width: 425px) {
        height: 672px;
    }

    @media (min-width: 768px) {
        height: 628px;
    }

    @media (min-width: 1024px) {
        height: 500px;
    }

    @media (min-width: 1440px) {
        height: 480px;
    }
    
    .section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        
        @media (min-width: 1024px) {
            width: 93%;
            margin: 0 auto;
        }
        
        .write{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 25px;
            width: 100%;
            
            @media (min-width: 1024px) {
                justify-content: space-between;
                align-items: center;
                width: 50%;
            }
            
            #paragraphy{
                margin-top: 25px;
                color: #444444;
                
                @media (min-width: 1024px) {
                    width: 100%;
                    font-size: clamp(18px, 1.2vw, 2rem);
                    font-weight: 500;
                    line-height: 18px;
                    font-family: var(--font-raleway);
                    text-align: start;
                }
                
            @media (min-width: 1440px) {
                width: 100%;
                font-size: clamp(18px, 1.2vw, 2rem);
                font-weight: 400;
                line-height: 18px;
                font-family: var(--font-raleway);
            }
            
        }
        
        h1{
            font-size: 21px;
            line-height: 24px;
            font-weight: 600;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color: var(--BlueDark-Eliane);
            
            @media (min-width: 1024px) {
                width: 100%;
                font-size: clamp(20px, 2.8vw, 4rem);
                font-weight: 700;
                line-height: 40px;
                text-align: start;
            }
            
            @media (min-width: 1440px) {
                width: 100%;
                font-size: clamp(20px, 2.8vw, 4rem);
                font-weight: 700;
                line-height: 48px;
            }
        }
        
        h3{
            font-size: 18px;
            line-height: 18px;
            font-weight: 500;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color: #444444;
            
            @media (min-width: 1024px) {
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                text-align: start;
            }
            
            @media (min-width: 1440px) {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
            }
        }
        
        p{
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color: #444444;
            
            @media (min-width: 1024px) {
                width: 100%;
                font-size: clamp(15px, 1.1vw, 2rem);
                font-weight: 500;
                line-height: 18px;
                text-align: start;
            }
            
            @media (min-width: 1440px) {
                width: 100%;
                font-size: clamp(16px, 1.1vw, 2rem);
                font-weight: 400;
                line-height: 18px;
            }
            
            span{
                font-weight: 500;
                color: #AA7E32;
                
                @media (min-width: 1024px) {
                    width: 100%;
                    font-size: clamp(15px, 1.0vw, 2rem);
                    font-weight: 500;
                    line-height: 18px;
                }
                
                @media (min-width: 1440px) {
                    width: 100%;
                    font-size: clamp(18px, 1.2vw, 2rem);
                    font-weight: 500;
                    line-height: 18px;
                }
            }
        }
    }
    
    .imgsEliane{
        width: 100%;
        background-image: url("../../../public/Dra.Eliane_Brand/logo_eliane_footer.png") ;
        background-size: 65%; // Cobrir toda a área
        background-position: center; // Centralizar a imagem
        background-repeat: no-repeat; // Não repetir a imagem
        overflow: hidden;
        justify-content: center;
        margin-top: 20px;
        
        @media (min-width: 375px) {
            background-size: 65%;
        }
        
        @media (min-width: 768px) {
            background-size: 45%;
        }
        
        @media (min-width: 1024px) {
            width: 50%;
            background-size: 85%;
        }
        
        @media (min-width: 1440px) {
            width: 50%;
            background-size: 65%;
        }
        
        img{
            height: 220px;
            margin-left: 10px;
            
            @media (min-width: 375px) {
                margin-left: 40px;
                height: 275px;
                width: 300px;
            }
            
            @media (min-width: 425px) {
                margin-left: 60px;
                height: 300px;
            }
            
            @media (min-width: 768px) {
                height: 352px;
                margin-left: 160px;
                width: 490px;
            }
            
            @media (min-width: 1024px) {
                width: 520px;
                margin-left: -25px;
                height: 480px;
            }
            
            @media (min-width: 1440px) {
                width: 680px;
                margin-left: 0px;
                height: 460px;
            }
        }
    }
    
    }
}