@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    .container {
        width: 85%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        
        &.animate {
            opacity: 1;
            animation: slideIn 2s ease-out;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        .left {
            width: 45%;
            margin-top: 80px;

            @media (max-width: 768px) {
                width: 90%;
            }

            .topHeader {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 85%;
                margin-top: 40px;
                margin-bottom: 20px;
                gap: 20px;

                @media (max-width: 768px) {
                    justify-content: center;
                }

                .line {
                    width: 20%;
                    height: 2px;
                    background: var(--Blue-Eliane);
                }

                h3 {
                    font-size: 30px;
                    font-family: var(--font-yellowtail);
                    display: inline-flex;
                    white-space: nowrap;
                    overflow: hidden;
                    animation: typing 3s steps(30, end), blink 0.75s step-end infinite;

                    @keyframes typing {
                        from {
                            width: 0;
                        }
                        to {
                            width: 70%;
                        }
                    }

                    @keyframes blink {
                        50% {
                            border-color: transparent;
                        }
                    }
                }
            }

            .I {
                margin-bottom: 40px;

                h2 {
                    font-size: 45px;

                    @media (max-width: 768px) {
                        text-align: center;
                    }
                }
            }

            .eu {
                p {
                    margin-top: 20px;
                    font-size: 15px;

                    @media (max-width: 1024px) {
                        font-size: 13px;
                    }
                }
            }
        }

        .AboutMe {
            width: 45%;
            animation: slideIn 2s ease-out;

            @media (max-width: 768px) {
                width: 85%;
            }

            img {
                height: 100%;

                @media (max-width: 1024px) {
                    height: 117%;
                }

                @media (max-width: 768px) {
                    height: 80%;
                }
            }
        }
    }

    .bottom {
        width: 85%;
        height: 180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        @media (max-width: 1024px) {
            margin-top: 130px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            height: auto;
            gap: 40px;
        }

        .missao {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 768px) {
                width: 85%;
                margin: 0 auto;
            }

            img {
                width: 100px;
                height: 100%;
            }

            h3 {
                margin-top: 20px;
                margin-bottom: 20px;
                color: var(--Green-Eliane);
            }

            p {
                font-size: 15px;
                text-align: center;
            }
        }

        .valor {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;

            @media (max-width: 768px) {
                width: 85%;
                margin: 0 auto;
            }

            img {
                width: 100px;
                height: 100%;
            }

            h3 {
                margin-top: 20px;
                margin-bottom: 20px;
                color: var(--Green-Eliane);
            }

            p {
                font-size: 15px;
                text-align: center;
            }
        }
    }
}
